<!-- doctype html -->
<!DOCTYPE html>
<html lang="pt-Br">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- TITULO DA PAGINA -->
    <title>Trabalhando com animações!</title>
    <!-- LINK PARA FOLHA DE ESTILO -->
    <link rel="stylesheet" href="../../arquivos_usados/normalize.css" />
    <!-- SCRIPT DA PAGINA -->
    <script src="../../arquivos_usados/prefixfree.min.js"></script>
  </head>
  <body>
    <!--CORPO DO HTML : aqui é o que é exibido na tela -->

    <!-- serve para vincular ou incorporar código JavaScript em um arquivo HTML -->
    <script src="../../arquivos_usados/jquery-3.7.1.min.js"></script>
  </body>
</html>
