<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- TITULO DA PAGINA -->
    <title>Trabalhando com animações!</title>
    <!-- LINK PARA FOLHA DE ESTILO -->
    <link rel="stylesheet" href="normalize.css">
    <!-- SCRIPT DA PAGINA -->
    <script src="prefixfree.min.js"></script>
</head>
<body>
    <!--CORPO DO HTML : aqui é o que é exibido na tela -->
    <script src="jquery.min.js"></script>
</body>
</html>